In [ ]:
%pip install pandas
%pip install pyreadstat
%pip install sqlalchemy
%pip install pymysql

In [ ]:
#pip freeze > requirementsDELETE.txt

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import pyreadstat
import sqlite3

In [4]:
df_gastos = pd.read_spss("../data/raw/ENGIH 2016 Base de Datos Gastos.sav")
df_hogares = pd.read_spss("../data/raw/ENGIH 2016 Base de Datos Hogares.sav")
df_personas = pd.read_spss("../data/raw/ENGIH 2016 Base de Datos Personas.sav")
df_estratos = pd.read_spss("../data/raw/ENGIH 2016 UPM y Estratos.sav")

In [7]:
connection = sqlite3.connect("enigh_db")

In [9]:
df_gastos.to_sql('hogares', connection, if_exists='replace', index=False)
df_hogares.to_sql('egresos', connection, if_exists='replace', index=False)
df_personas.to_sql('ingresos', connection, if_exists='replace', index=False)
df_estratos.to_sql('estratos', connection, if_exists='replace', index=False)

6889

In [11]:
query = "SELECT * FROM hogares LIMIT 5"
result = pd.read_sql_query(query, connection)
print(result)

  DOMANIO  NUMERO DOMMES REGION DOMSEMANA DOMDEPARTAMENTO ARTICULOCODIGO  \
0    2017  1821.0     05     01        21              01       01111011
1    2017  1821.0     05     01        21              01       01111011
2    2017  1821.0     05     01        21              01       01111270
3    2017  1821.0     05     01        21              01       01111383
4    2017  1821.0     05     01        21              01       01111394

      DONDECODIGO                                         COMOCODIGO  \
0  ‘Supermercado’  ‘Tarjeta de débito, deb. bancario, deb. automá...
1  ‘Supermercado’                                          ‘Contado’
2  ‘Supermercado’  ‘Tarjeta de débito, deb. bancario, deb. automá...
3  ‘Supermercado’                                          ‘Contado’
4  ‘Supermercado’                                          ‘Contado’

  DESTINOCODIGO GASTOTIPO                            DIVISION  VALORCONT  \
0       ‘Hogar’       0.0  Alimentos y bebidas no alcoholicas       35.0
1       ‘Hogar’       0.0  Alimentos y bebidas no alcoholicas       45.0
2       ‘Hogar’       0.0  Alimentos y bebidas no alcoholicas       94.0
3       ‘Hogar’       0.0  Alimentos y bebidas no alcoholicas       85.0
4       ‘Hogar’       0.0  Alimentos y bebidas no alcoholicas       60.0

   VALORCONTM  CANTIDADCONVERTIDA  VL_IMPUTADO  VALORCONT_IMPUTADO  CALORIAS  \
0       150.5               330.0          0.0                 0.0     887.7
1       193.5               330.0          0.0                 0.0     887.7
2       404.2               200.0          0.0                 0.0     729.2
3       365.5               420.0          0.0                 0.0    1890.0
4       258.0               150.0          0.0                 0.0     700.2

    peso
0  142.0
1  142.0
2  142.0
3  142.0
4  142.0